/* ModalDetails.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    direction: rtl;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 34px;
    height: 34px;
    background: none;
    border: 1px solid #c91818;
    border-radius: 50%;
    z-index: 10001;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    color: #c91818;

  }
  .closeButton:hover{
    width: 32px;
    height: 32px;
    background: #c91818;
    color: #ffffff;
    transition: transform 0.4s ease-in-out;
  }
  
  .modalBody {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .imageWrapper {
    flex: 1;
    max-width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 11px;
    border: 1px solid #ffa412;
  }
  
  .modalImage {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease-in-out;
  }
  
  .imageWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);
    z-index: 2;
  }
  
  .imageWrapper:hover .modalImage {
    transform: scale(1.05);
  }
  
  .imageWrapper:hover::after {
    transform: translateX(100%);
  }
  
  .detailsWrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .modalTitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffa412;
  }
  
  .modalDescription {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
  }
  