/* right.module.css */
.tbazar {
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .custom_dir {
   
    padding: 0px;
    margin-top: 0px;
    border-radius: 4px;
  }
  