/* استایل‌های عمومی */
.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  direction: rtl;
  position: fixed; /* اضافه شده */
  top: 0; /* اضافه شده */
  width: 100%; /* اضافه شده */
  z-index: 1000; /* اضافه شده */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* اضافه شده برای ایجاد سایه */
}

.navbar_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: auto;
}

.tooltip_container {
  position: relative;
  display: inline-block;
}

.icon {
  width: 34px;
  height: auto;
  margin: 0 2px;
  transition: background-image 0.3s ease-in-out;
  background-size: cover;
}

.icon.cart {
  background-image: url('../../assets/images/cart.png'); /* مسیر تصویر اولیه برای سبد خرید */
}

.icon.cart:hover {
  background-image: url('../../assets/images/cart.png'); /* مسیر تصویر اولیه برای سبد خرید */
}

.icon.exit {
  background-image: url('../../assets/images/exit.png'); /* مسیر تصویر اولیه برای خروج */
}

.icon.exit:hover {
  background-image: url('../../assets/images/exit_hover.png'); /* مسیر تصویر جدید برای خروج هنگام هاور */
}

.icon.profile {
  background-image: url('../../assets/images/profile.png'); /* مسیر تصویر اولیه برای پروفایل */
}

.icon.profile:hover {
  background-image: url('../../assets/images/profile_hover.png'); /* مسیر تصویر جدید برای پروفایل هنگام هاور */
}

.icon.question {
  background-image: url('../../assets/images/question.png'); /* مسیر تصویر اولیه برای سوالات متداول */
}

.icon.question:hover {
  background-image: url('../../assets/images/question_hover.png'); /* مسیر تصویر جدید برای سوالات متداول هنگام هاور */
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 10px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  white-space: nowrap;
}

.tooltip_container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* تغییر تصاویر به هنگام هاور */
.tooltip_container:hover .icon {
  filter: brightness(99%);
}

.nav_list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
}

.nav_item {
  margin-right: 20px;
  position: relative;
}

.nav_item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.3s;
}

.nav_item a.active {
  color: #FFA412;
}

.nav_item a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: orange;
  transition: width 0.4s;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.nav_item a:hover::after,
.nav_item a.active::after {
  width: 100%;
}

/* استایل‌های موبایل */
.mobile_navbar_container {
  display: none; /* مخفی کردن نوار ناوبری موبایل در حالت عادی */
}

.menu_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.line1,
.line2 {
  width: 25px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.line1 {
  position: absolute;
  top: 0;
}

.line2 {
  position: absolute;
  top: 10px;
}

.menu_button.open .line1 {
  transform: rotate(45deg);
}

.menu_button.open .line2 {
  transform: rotate(-45deg);
}

.expansionMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.expansionMenu.open {
  display: block;
}

.mobile_item_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile_menu_item {
  margin: 0;
}

.mobile_menu_item_links {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.mobile_menu_item_links:hover {
  background-color: #f0f0f0;
}

.logout_button_red {
  color: red;
}

@media (max-width: 768px) {
  .navbar_container {
    display: none; /* مخفی کردن نوار ناوبری در حالت موبایل */
  }

  .mobile_navbar_container {
    display: block;
  }
}
