.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  direction: rtl;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #FFEFEF;
}

.closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #E9553D;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  background: #d84433;
}

.h2 {
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.buttonGroup {
  margin: 10px auto 20px;
  text-align: center;
  padding: 0;
}

.timeButton {
  background-color: #E9553D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.timeButton:hover {
  background-color: #ffffff;
  border: 1px solid #d84433;
  color: #d84433;
}

.timeButton:focus {
  outline: none;
}

.connectWalletWrapper {
  width: 100%;
}

.innerBody {
  padding: 20px;
}

.activityWrapperActionSingleSuccess,
.activityWrapperActionSingleDanger {
  background: #FFEFEF;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #E9553D;
}

.activityWrapperActionSingleSuccess .activity3dotsMenu,
.activityWrapperActionSingleDanger .activity3dotsMenu {
  font-size: 0.9rem;
  color: #333;
}

.activityMetaText {
  font-size: 0.8rem;
  color: #666;
}

.activityMetaText a {
  text-decoration: none;
  color: #E9553D;
}

.btnSuccess {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.btnDanger {
  background-color: #dc3545;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
