/* استایل‌های مودال */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* اطمینان از بالاتر بودن نسبت به سایر عناصر */
}

.modal_content {
  background: rgb(255, 255, 255);
  border: 1px solid #E1F5E4; /* تغییر رنگ مرزی به سبز روشن */
  border-radius: 8px;
  width: 500px;
  height: 300px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: visible; /* جلوگیری از خروج محتوای داخلی از کادر */
}

.modal_image {
  position: absolute;
  top: 10%; /* تغییر موقعیت برای بیرون زدن تصویر از کادر */
  right: -10%; /* تغییر موقعیت برای بیرون زدن تصویر از کادر */
  width: 150px; /* اندازه بزرگتر برای تصویر */
  height: 150px; /* اندازه بزرگتر برای تصویر */
  border-radius: 15px; /* تغییر شعاع گوشه‌ها */
  border: 1px solid #4CAF50; /* رنگ سبز */
  overflow: hidden;
}

.modal_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal_close {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #4CAF50; /* رنگ سبز */
  z-index: 10; /* اطمینان از نمایش دکمه بستن بالای سایر محتوا */
}

.modal_details {
  margin-top: 12%; /* ایجاد فضای کافی برای تصویر */
  padding: 0 20% 0 10%;
  display: flex;
  flex-direction: column;
}

.modal_details h1 {
  font-size: 1rem;
  text-align: right;
  margin: 0;
  padding-right: 10px;
  color: #4CAF50; /* رنگ سبز */
}

.modal_price,
.modal_package,
.modal_weight,
.modal_top_bid {
  padding: 3px 5px;
  font-size: 0.7rem;
  text-align: right;
  margin-right: 10px;
  direction: rtl;
}

.modal_price {
  color: black;
}

.modal_package {
  color: black;
}

.modal_weight {
  color: black;
}

.modal_top_bid {
  border-radius: 5px;
  background-color: #4CAF50; /* رنگ سبز */
  color: #ffffff;
}

.modal_price span,
.modal_package span,
.modal_weight span,
.modal_top_bid span {
  font-weight: bold;
  padding-inline: 3px;
}

.modal_timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #E1F5E4; /* تغییر رنگ پس‌زمینه به سبز روشن */
  color: #4CAF50; /* رنگ سبز */
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer_title {
  font-size: 0.8rem;
  margin-right: 5px;
}

.timer_icon {
  width: 30px;
  background-color: #4CAF50; /* رنگ سبز */
  border-radius: 0 5px 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer_icon img {
  width: 16px;
  height: 16px;
}

.bg_number_bid {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100px;
  text-align: center;
  border-radius: 5px 0 9px 0;
  background-color: #E1F5E4; /* تغییر رنگ پس‌زمینه به سبز روشن */
  color: #4CAF50; /* رنگ سبز */
  direction: rtl;
}

.bg_number_bid span {
  color: black;
  font-size: 0.8rem;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  transform: rotate(180deg);
}

.text_number_bid {
  position: absolute;
  top: 40%;
  left: 20%;
  direction: rtl;
  font-size: 0.8rem;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  transform: rotate(180deg);
}
